body {
  background-color: #6A5ACD;
}

.nav-link {
  color: #fff;
}

.intro-title {
  color: #FFDAB9;
}

.intro-subtitle {
  color: #FFDAB9;
}

.articles-title {
  color: #fff;
}

.item-text {
  color: #F4A460;
}