body {
  background-color: #fff;
}

.nav-link {
  color: #000;
}

.intro-title {
  color: #000;
}

.intro-subtitle {
  color: #000;
}

.item-text {
  color: #000;
}

.articles-title {
  color: #000;
}