body {
  background-color: #fff;
}

.nav__link {
  color: #000;
}

.intro__title {
  color: #000;
}

.intro__subtitle {
  color: #000;
}

.item__text {
  color: #000;
}

.articles__title {
  color: #000;
}