*, *:before, *:after {
  box-sizing: border-box;
}

/* Container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */
.header {
  padding-top: 59px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 130vh;
}

.intro__inner {
  width: 100%;
  max-width: 858px;
  margin: 0 auto;
}

.intro__inner:after {
  content: "";
  display: block;
  width: 640px;
  height: 2px;
  margin: 8px auto 0;
  background-color: #000;
}


.intro__image {
  text-align: center;
}

.intro__title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 54px;
}


.intro__subtitle {
  font-family: SF Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
}

/* Nav */
.nav {
  font-family: New York Small;
  font-size: 20px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
  color: #000;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  display: none;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  margin-top: 41px;
}

.nav__link:hover:after {
  display: block;
}

/* Articles */
.articles {
  margin: 0 auto;
}

.articles__title {
  margin: 0 auto 39px;
  text-align: center;
  font-size: 44px;
}

.articles__inner{
  display: flex;
  justify-content: center;
}
.articles__column {
  max-width: 304px;
  margin-right: 28px;
}

.articles__item {
  margin-bottom: 64px;
}

.item__text {
  text-align: center;
}

